.partners .item {
    position: relative;
}

.partners .item img {
    display: block;
}

.partners .item h4 {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0,0,0, .5);
}